<ion-view title="Login">
  <ion-content overflow-scroll="true" padding="'true'" scroll="false" class="has-header">
    <div class="logo">Flosi</div>
    <div class="login-err" ng-show="badLogin"> {{badLogin}}</div>
    <form class="list">
      <ion-list>

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" ng-model="form.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="text" placeholder="" ng-model="form.password">
        </label>
      </ion-list>
      <button class="button button-stable button-block " ng-click="submitLogin(form)">Login</button>
        <div id="go-sign-up" ng-click="goSignUp()"><a>Need to Sign up?</a></div>
    </form>
  </ion-content>
</ion-view>


<div>

</div>
