<ion-view view-title="Dashboard">
  <ion-content class="padding" scroll="true">
    <div class="row" style="padding-top: 10px;">
      <div class="col">
        <img id="profileImg" ng-click="upload()" ng-src="{{user.img}}"/>
      </div>
      <div class="col col-75">
        <div class="introWelcome" style="margin: 15px auto; font-size: 35px"> {{user.name}} </div>
      </div>
    </div>

    <h3 style="text-align: center;color: #fff;">Accepted Challenges</h3>
    <hr>



     <ion-list>
        <ion-item class="item-thumbnail-left" ng-repeat="card in challArray" ng-hide="card==null"
          ui-sref="tab.stream({streamId : card.challengeId})">
          <img ng-src="{{card.img2}}"/>
          <h2>{{card.title}} with {{card.name2}} </h2>
        </ion-item>
        </ion-list>


        <hr>




    <div style="width: 100%; text-align: center;">
      <button class="button button-assertive" style="margin-top: 12px;" ng-click="showModal()" >
        Challenge Someone!
      </button>
    </div>
  </ion-content>
</ion-view>
